# Colby Snoke
## 11/2/2022

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

# Which movie had the most days as the #1 release in 2021?

In [2]:
#control u to bring up structure
url='https://www.boxofficemojo.com/daily/2021/?view=year'
response = requests.get(url)
status = response.status_code
if status == 200:
    page = response.text
    soup = bs(page)
else:
    print(f"Oops! Received status code {status}")

In [19]:
movie_list = [ ]
stats_table = soup.find(id="table")
for row in stats_table.find_all('tr'):
    movie = row.find(class_ = "mojo-field-type-release").text
    movie_list.append({'Movie':movie})
movie_list

[{'Movie': '#1 Release\n'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Spider-Man: No Way Home'},
 {'Movie': 'Encanto'},
 {'Movie': 'West Side Story'},
 {'Movie': 'West Side Story'},
 {'Movie': 'West Side Story'},
 {'Movie': 'Encanto'},
 {'Movie': 'Encanto'},
 {'Movie': 'West Side Story'},
 {'Movie': 'Encanto'},
 {'Movie': 'Encanto'},
 {'Movie': 'Encanto'},
 {'Movie': 'Encanto'},
 {'Movie': 'Encanto'},
 {'Movie': 'Encanto'},
 {'Movie': 'Encanto'},
 {'Movie': 'Christmas with the Chosen: The Messengers'},
 {'Movie': 'Christmas with the Chosen: The Messengers'},
 {'Movie': 'House of Gucci'},
 {'Movie': 'Encanto'},
 {'Movie': 'Encanto'},
 {'Movie': 'Encanto'},
 {'Movie': 'Encanto'},
 {'Movie': 'Encanto'},
 {'Movie': 'Encanto'},
 {'Movie': 'Ghostbusters: Afterlife'},
 {'Movie': 'Ghostbusters: Afterlife'},
 {'Movie': 'Ghostbusters: Afterlife'},
 {'Movie': 'Ghostbusters: Afterlife'},
 {'Movie': 'Ghostbusters: Afterlife'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Eternals'},
 {'Movie': 'Dune'},
 {'Movie': 'Dune'},
 {'Movie': 'Dune'},
 {'Movie': 'Dune'},
 {'Movie': 'Dune'},
 {'Movie': 'Dune'},
 {'Movie': 'Dune'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'Dune'},
 {'Movie': 'Dune'},
 {'Movie': 'Dune'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'Halloween Kills'},
 {'Movie': 'Halloween Kills'},
 {'Movie': 'Halloween Kills'},
 {'Movie': 'Halloween Kills'},
 {'Movie': 'Halloween Kills'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'No Time to Die'},
 {'Movie': 'Venom: Let There Be Carnage'},
 {'Movie': 'Venom: Let There Be Carnage'},
 {'Movie': 'Venom: Let There Be Carnage'},
 {'Movie': 'Venom: Let There Be Carnage'},
 {'Movie': 'Venom: Let There Be Carnage'},
 {'Movie': 'Venom: Let There Be Carnage'},
 {'Movie': 'Venom: Let There Be Carnage'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Shang-Chi and the Legend of the Ten Rings'},
 {'Movie': 'Candyman'},
 {'Movie': 'Candyman'},
 {'Movie': 'Candyman'},
 {'Movie': 'Candyman'},
 {'Movie': 'Candyman'},
 {'Movie': 'Candyman'},
 {'Movie': 'Candyman'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Free Guy'},
 {'Movie': 'Jungle Cruise'},
 {'Movie': 'Jungle Cruise'},
 {'Movie': 'Jungle Cruise'},
 {'Movie': 'Jungle Cruise'},
 {'Movie': 'The Suicide Squad'},
 {'Movie': 'The Suicide Squad'},
 {'Movie': 'The Suicide Squad'},
 {'Movie': 'Jungle Cruise'},
 {'Movie': 'Jungle Cruise'},
 {'Movie': 'Jungle Cruise'},
 {'Movie': 'Jungle Cruise'},
 {'Movie': 'Jungle Cruise'},
 {'Movie': 'Jungle Cruise'},
 {'Movie': 'Jungle Cruise'},
 {'Movie': 'Old'},
 {'Movie': 'Old'},
 {'Movie': 'Old'},
 {'Movie': 'Old'},
 {'Movie': 'Old'},
 {'Movie': 'Old'},
 {'Movie': 'Old'},
 {'Movie': 'Black Widow'},
 {'Movie': 'Black Widow'},
 {'Movie': 'Black Widow'},
 {'Movie': 'Black Widow'},
 {'Movie': 'Black Widow'},
 {'Movie': 'Black Widow'},
 {'Movie': 'Space Jam: A New Legacy'},
 {'Movie': 'Black Widow'},
 {'Movie': 'Black Widow'},
 {'Movie': 'Black Widow'},
 {'Movie': 'Black Widow'},
 {'Movie': 'Black Widow'},
 {'Movie': 'Black Widow'},
 {'Movie': 'Black Widow'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'F9: The Fast Saga'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': "Hitman's Wife's Bodyguard"},
 {'Movie': "Hitman's Wife's Bodyguard"},
 {'Movie': "Hitman's Wife's Bodyguard"},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': "Hitman's Wife's Bodyguard"},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'In the Heights'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'The Conjuring: The Devil Made Me Do It'},
 {'Movie': 'The Conjuring: The Devil Made Me Do It'},
 {'Movie': 'The Conjuring: The Devil Made Me Do It'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'A Quiet Place Part II'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Spiral'},
 {'Movie': 'Wrath of Man'},
 {'Movie': 'Wrath of Man'},
 {'Movie': 'Wrath of Man'},
 {'Movie': 'Wrath of Man'},
 {'Movie': 'Wrath of Man'},
 {'Movie': 'Wrath of Man'},
 {'Movie': 'Wrath of Man'},
 {'Movie': 'Demon Slayer the Movie: Mugen Train'},
 {'Movie': 'Demon Slayer the Movie: Mugen Train'},
 {'Movie': 'Demon Slayer the Movie: Mugen Train'},
 {'Movie': 'Demon Slayer the Movie: Mugen Train'},
 {'Movie': 'Demon Slayer the Movie: Mugen Train'},
 {'Movie': 'Demon Slayer the Movie: Mugen Train'},
 {'Movie': 'Mortal Kombat'},
 {'Movie': 'Demon Slayer the Movie: Mugen Train'},
 {'Movie': 'Demon Slayer the Movie: Mugen Train'},
 {'Movie': 'Demon Slayer the Movie: Mugen Train'},
 {'Movie': 'Demon Slayer the Movie: Mugen Train'},
 {'Movie': 'Mortal Kombat'},
 {'Movie': 'Mortal Kombat'},
 {'Movie': 'Demon Slayer the Movie: Mugen Train'},
 {'Movie': 'Nobody'},
 {'Movie': 'Nobody'},
 {'Movie': 'Nobody'},
 {'Movie': 'Nobody'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Godzilla vs. Kong'},
 {'Movie': 'Nobody'},
 {'Movie': 'Nobody'},
 {'Movie': 'Nobody'},
 {'Movie': 'Nobody'},
 {'Movie': 'Nobody'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Raya and the Last Dragon'},
 {'Movie': 'Tom & Jerry'},
 {'Movie': 'Tom & Jerry'},
 {'Movie': 'Tom & Jerry'},
 {'Movie': 'Tom & Jerry'},
 {'Movie': 'Tom & Jerry'},
 {'Movie': 'Tom & Jerry'},
 {'Movie': 'Tom & Jerry'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'Judas and the Black Messiah'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Little Things'},
 {'Movie': 'The Marksman'},
 {'Movie': 'The Marksman'},
 {'Movie': 'The Marksman'},
 {'Movie': 'The Marksman'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Marksman'},
 {'Movie': 'The Marksman'},
 {'Movie': 'The Marksman'},
 {'Movie': 'The Marksman'},
 {'Movie': 'The Marksman'},
 {'Movie': 'The Croods: A New Age'},
 {'Movie': 'The Marksman'},
 {'Movie': 'The Marksman'},
 {'Movie': 'The Marksman'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'},
 {'Movie': 'Wonder Woman 1984'}]

In [20]:
movie_df = pd.DataFrame(movie_list)
movie_df

                       Movie
0               #1 Release\n
1    Spider-Man: No Way Home
2    Spider-Man: No Way Home
3    Spider-Man: No Way Home
4    Spider-Man: No Way Home
..                       ...
361        Wonder Woman 1984
362        Wonder Woman 1984
363        Wonder Woman 1984
364        Wonder Woman 1984
365        Wonder Woman 1984

[366 rows x 1 columns]

In [23]:
movie_total = movie_df['Movie'].value_counts()
movie_total

Shang-Chi and the Legend of the Ten Rings    28
Raya and the Last Dragon                     21
A Quiet Place Part II                        20
Godzilla vs. Kong                            19
The Croods: A New Age                        16
Encanto                                      16
Spider-Man: No Way Home                      15
Spiral                                       14
F9: The Fast Saga                            14
Free Guy                                     14
Wonder Woman 1984                            14
Eternals                                     14
The Little Things                            13
No Time to Die                               13
Black Widow                                  13
The Marksman                                 12
Jungle Cruise                                11
Demon Slayer the Movie: Mugen Train          11
Dune                                         10
Nobody                                        9
Venom: Let There Be Carnage                   7
Tom & Jerry                                   7
Wrath of Man                                  7
Old                                           7
Candyman                                      7
Halloween Kills                               5
Ghostbusters: Afterlife                       5
West Side Story                               4
Hitman's Wife's Bodyguard                     4
The Conjuring: The Devil Made Me Do It        3
Mortal Kombat                                 3
The Suicide Squad                             3
Christmas with the Chosen: The Messengers     2
Judas and the Black Messiah                   1
#1 Release\n                                  1
In the Heights                                1
House of Gucci                                1
Space Jam: A New Legacy                       1
Name: Movie, dtype: int64

# What Holiday had the highest cumulative gross in 2019?

In [24]:
url='https://www.boxofficemojo.com/holiday/by-year/2019/?grossesOption=calendarGrosses'
response = requests.get(url)
status = response.status_code
if status == 200:
    page = response.text
    soup = bs(page)
else:
    print(f"Oops! Received status code {status}")

In [32]:
movie_list2 = [ ]
stats_table = soup.find(id='table')
for row in stats_table.find_all('tr'):
    holiday = row.find(class_="mojo-field-type-named_interval").text
    gross = row.find(class_="mojo-field-type-money").text
    movie_list2.append({'holiday': holiday, 'Gross': gross})
movie_list2

[{'holiday': 'Holiday', 'Gross': 'Cumulative Gross'},
 {'holiday': "New Year's Eve", 'Gross': '$43,962,854'},
 {'holiday': 'Christmas Day', 'Gross': '$78,632,563'},
 {'holiday': 'Post-Thanksgiving Weekend', 'Gross': '$90,326,095'},
 {'holiday': 'Thanksgiving Weekend', 'Gross': '$180,855,568'},
 {'holiday': 'Thanksgiving 4-Day Weekend', 'Gross': '$215,904,496'},
 {'holiday': 'Thanksgiving', 'Gross': '$35,370,976'},
 {'holiday': 'Thanksgiving 5-Day Weekend', 'Gross': '$262,286,436'},
 {'holiday': 'Halloween', 'Gross': '$9,536,976'},
 {'holiday': "Indigenous People's Day", 'Gross': '$20,973,935'},
 {'holiday': "Indigenous People's Day Weekend", 'Gross': '$161,052,554'},
 {'holiday': 'Labor Day', 'Gross': '$28,378,818'},
 {'holiday': 'Labor Day Weekend', 'Gross': '$120,764,144'},
 {'holiday': 'Independence Day', 'Gross': '$46,565,065'},
 {'holiday': 'Memorial Day', 'Gross': '$49,413,282'},
 {'holiday': 'Memorial Day Weekend', 'Gross': '$230,819,376'},
 {'holiday': 'Easter', 'Gross': '$24,977,589'},
 {'holiday': 'Easter Weekend', 'Gross': '$121,560,823'},
 {'holiday': "President's Day", 'Gross': '$26,069,665'},
 {'holiday': "President's Day Weekend", 'Gross': '$152,447,001'},
 {'holiday': 'MLK Day', 'Gross': '$32,478,230'},
 {'holiday': 'MLK Day Weekend', 'Gross': '$162,367,073'},
 {'holiday': "New Year's Day", 'Gross': '$59,578,286'}]

In [44]:
movie_df2 = pd.DataFrame(movie_list2)
movie_df2

                            holiday             Gross
0                           Holiday  Cumulative Gross
1                    New Year's Eve       $43,962,854
2                     Christmas Day       $78,632,563
3         Post-Thanksgiving Weekend       $90,326,095
4              Thanksgiving Weekend      $180,855,568
5        Thanksgiving 4-Day Weekend      $215,904,496
6                      Thanksgiving       $35,370,976
7        Thanksgiving 5-Day Weekend      $262,286,436
8                         Halloween        $9,536,976
9           Indigenous People's Day       $20,973,935
10  Indigenous People's Day Weekend      $161,052,554
11                        Labor Day       $28,378,818
12                Labor Day Weekend      $120,764,144
13                 Independence Day       $46,565,065
14                     Memorial Day       $49,413,282
15             Memorial Day Weekend      $230,819,376
16                           Easter       $24,977,589
17                   Easter Weekend      $121,560,823
18                  President's Day       $26,069,665
19          President's Day Weekend      $152,447,001
20                          MLK Day       $32,478,230
21                  MLK Day Weekend      $162,367,073
22                   New Year's Day       $59,578,286

In [57]:
movie_df2 = movie_df2.drop([0])

In [59]:
movie_df2['Gross'] = movie_df2['Gross'].replace('[\$,]', '', regex=True).astype(float)

In [62]:
print(movie_df2[movie_df2['Gross'] == max(movie_df2['Gross'])].holiday)

7    Thanksgiving 5-Day Weekend
Name: holiday, dtype: object

# Which Month had the highest cumulative gross in 2020?

In [66]:
url='https://www.boxofficemojo.com/month/by-year/2020/?grossesOption=calendarGrosses'
response = requests.get(url)
status = response.status_code
if status == 200:
    page = response.text
    soup = bs(page)
else:
    print(f"Oops! Received status code {status}")

In [69]:
movie_list3 = [ ]
stats_table = soup.find(id='table')
for row in stats_table.find_all('tr'):
    month = row.find(class_="mojo-field-type-named_interval").text
    gross = row.find(class_="mojo-field-type-money").text
    movie_list3.append({'Month': month, 'Gross': gross})
movie_list3

[{'Month': 'Month', 'Gross': 'Cumulative Gross'},
 {'Month': 'December', 'Gross': '$67,691,870'},
 {'Month': 'November', 'Gross': '$62,738,998'},
 {'Month': 'October', 'Gross': '$63,361,603'},
 {'Month': 'September', 'Gross': '$86,031,381'},
 {'Month': 'August', 'Gross': '$32,316,928'},
 {'Month': 'July', 'Gross': '$7,806,635'},
 {'Month': 'June', 'Gross': '$3,677,627'},
 {'Month': 'May', 'Gross': '$995,838'},
 {'Month': 'April', 'Gross': '$52,015'},
 {'Month': 'March', 'Gross': '$253,334,028'},
 {'Month': 'February', 'Gross': '$638,097,308'},
 {'Month': 'January', 'Gross': '$897,742,569'}]

In [70]:
movie_df3 = pd.DataFrame(movie_list3)
movie_df3

        Month             Gross
0       Month  Cumulative Gross
1    December       $67,691,870
2    November       $62,738,998
3     October       $63,361,603
4   September       $86,031,381
5      August       $32,316,928
6        July        $7,806,635
7        June        $3,677,627
8         May          $995,838
9       April           $52,015
10      March      $253,334,028
11   February      $638,097,308
12    January      $897,742,569

In [72]:
movie_df3 = movie_df3.drop([0])

In [76]:
movie_df3['Gross'] = movie_df3['Gross'].replace('[\$,]', '', regex=True).astype(float)

In [77]:
print(movie_df3[movie_df3['Gross'] == max(movie_df3['Gross'])].Month)

12    January
Name: Month, dtype: object

# Throughout all of history which year had the lowest cumulative gross?

In [82]:
url='https://www.boxofficemojo.com/year/?ref_=bo_nb_my_secondarytab'
response = requests.get(url)
status = response.status_code
if status == 200:
    page = response.text
    soup = bs(page)
else:
    print(f"Oops! Received status code {status}")

In [84]:
movie_list4 = [ ]
stats_table = soup.find(id='table')
for row in stats_table.find_all('tr'):
    year = row.find(class_="mojo-field-type-year").text
    gross = row.find(class_="mojo-field-type-money").text
    movie_list4.append({'Year': year, 'Gross': gross})
movie_list4

[{'Year': 'Year', 'Gross': 'Total Gross'},
 {'Year': '2022', 'Gross': '$6,807,420,913'},
 {'Year': '2021', 'Gross': '$4,482,795,864'},
 {'Year': '2020', 'Gross': '$2,113,846,800'},
 {'Year': '2019', 'Gross': '$11,363,360,889'},
 {'Year': '2018', 'Gross': '$11,892,160,011'},
 {'Year': '2017', 'Gross': '$11,075,387,520'},
 {'Year': '2016', 'Gross': '$11,375,225,455'},
 {'Year': '2015', 'Gross': '$11,148,825,819'},
 {'Year': '2014', 'Gross': '$10,368,861,849'},
 {'Year': '2013', 'Gross': '$10,955,524,800'},
 {'Year': '2012', 'Gross': '$10,843,641,372'},
 {'Year': '2011', 'Gross': '$10,155,695,359'},
 {'Year': '2010', 'Gross': '$10,585,386,940'},
 {'Year': '2009', 'Gross': '$10,615,888,236'},
 {'Year': '2008', 'Gross': '$9,652,648,585'},
 {'Year': '2007', 'Gross': '$9,679,019,852'},
 {'Year': '2006', 'Gross': '$9,203,041,941'},
 {'Year': '2005', 'Gross': '$8,833,618,311'},
 {'Year': '2004', 'Gross': '$9,354,636,012'},
 {'Year': '2003', 'Gross': '$9,232,953,228'},
 {'Year': '2002', 'Gross': '$9,164,913,438'},
 {'Year': '2001', 'Gross': '$7,959,296,828'},
 {'Year': '2000', 'Gross': '$7,476,224,772'},
 {'Year': '1999', 'Gross': '$7,340,743,186'},
 {'Year': '1998', 'Gross': '$6,696,383,983'},
 {'Year': '1997', 'Gross': '$6,077,250,085'},
 {'Year': '1996', 'Gross': '$5,600,750,973'},
 {'Year': '1995', 'Gross': '$5,106,129,264'},
 {'Year': '1994', 'Gross': '$5,061,909,583'},
 {'Year': '1993', 'Gross': '$4,823,116,106'},
 {'Year': '1992', 'Gross': '$4,519,644,026'},
 {'Year': '1991', 'Gross': '$4,336,073,530'},
 {'Year': '1990', 'Gross': '$4,326,824,577'},
 {'Year': '1989', 'Gross': '$4,084,060,815'},
 {'Year': '1988', 'Gross': '$3,542,179,944'},
 {'Year': '1987', 'Gross': '$3,343,230,996'},
 {'Year': '1986', 'Gross': '$3,065,297,715'},
 {'Year': '1985', 'Gross': '$3,017,379,123'},
 {'Year': '1984', 'Gross': '$3,066,288,000'},
 {'Year': '1983', 'Gross': '$2,738,195,414'},
 {'Year': '1982', 'Gross': '$3,001,761,432'},
 {'Year': '1981', 'Gross': '$898,686,960'},
 {'Year': '1980', 'Gross': '$1,642,400,771'},
 {'Year': '1979', 'Gross': '$1,229,428,453'},
 {'Year': '1978', 'Gross': '$826,413,013'},
 {'Year': '1977', 'Gross': '$443,497,461'}]

In [85]:
movie_df4 = pd.DataFrame(movie_list4)
movie_df4

    Year            Gross
0   Year      Total Gross
1   2022   $6,807,420,913
2   2021   $4,482,795,864
3   2020   $2,113,846,800
4   2019  $11,363,360,889
5   2018  $11,892,160,011
6   2017  $11,075,387,520
7   2016  $11,375,225,455
8   2015  $11,148,825,819
9   2014  $10,368,861,849
10  2013  $10,955,524,800
11  2012  $10,843,641,372
12  2011  $10,155,695,359
13  2010  $10,585,386,940
14  2009  $10,615,888,236
15  2008   $9,652,648,585
16  2007   $9,679,019,852
17  2006   $9,203,041,941
18  2005   $8,833,618,311
19  2004   $9,354,636,012
20  2003   $9,232,953,228
21  2002   $9,164,913,438
22  2001   $7,959,296,828
23  2000   $7,476,224,772
24  1999   $7,340,743,186
25  1998   $6,696,383,983
26  1997   $6,077,250,085
27  1996   $5,600,750,973
28  1995   $5,106,129,264
29  1994   $5,061,909,583
30  1993   $4,823,116,106
31  1992   $4,519,644,026
32  1991   $4,336,073,530
33  1990   $4,326,824,577
34  1989   $4,084,060,815
35  1988   $3,542,179,944
36  1987   $3,343,230,996
37  1986   $3,065,297,715
38  1985   $3,017,379,123
39  1984   $3,066,288,000
40  1983   $2,738,195,414
41  1982   $3,001,761,432
42  1981     $898,686,960
43  1980   $1,642,400,771
44  1979   $1,229,428,453
45  1978     $826,413,013
46  1977     $443,497,461

In [86]:
movie_df4 = movie_df4.drop([0])

In [87]:
movie_df4['Gross'] = movie_df4['Gross'].replace('[\$,]', '', regex=True).astype(float)

In [91]:
print(movie_df4[movie_df4['Gross'] == min(movie_df4['Gross'])].Year)

46    1977
Name: Year, dtype: object

# What week during 2001 had the lowest overall gross?

In [100]:
url='https://www.boxofficemojo.com/weekly/by-year/2001/'
response = requests.get(url)
status = response.status_code
if status == 200:
    page = response.text
    soup = bs(page)
else:
    print(f"Oops! Received status code {status}")

In [102]:
movie_list5 = [ ]
stats_table = soup.find(id='table')
for row in stats_table.find_all('tr'):
    week = row.find(class_="mojo-field-type-date_interval").text
    gross = row.find(class_="mojo-field-type-money").text
    movie_list5.append({'Week': week, 'Gross': gross})
movie_list5

[{'Week': 'Dates', 'Gross': 'Top 10 Gross'},
 {'Week': 'Dec 28-Jan 3, 2002', 'Gross': '$236,081,226'},
 {'Week': 'Dec 21-27', 'Gross': '$247,812,996'},
 {'Week': 'Dec 14-20', 'Gross': '$143,043,356'},
 {'Week': 'Dec 7-13', 'Gross': '$104,219,501'},
 {'Week': 'Nov 30-Dec 6', 'Gross': '$98,071,631'},
 {'Week': 'Nov 23-29', 'Gross': '$162,252,912'},
 {'Week': 'Nov 16-22', 'Gross': '$223,787,194'},
 {'Week': 'Nov 9-15', 'Gross': '$142,487,373'},
 {'Week': 'Nov 2-8', 'Gross': '$160,192,502'},
 {'Week': 'Oct 26-Nov 1', 'Gross': '$86,607,537'},
 {'Week': 'Oct 19-25', 'Gross': '$86,426,754'},
 {'Week': 'Oct 12-18', 'Gross': '$93,729,521'},
 {'Week': 'Oct 5-11', 'Gross': '$105,955,176'},
 {'Week': 'Sep 28-Oct 4', 'Gross': '$76,207,503'},
 {'Week': 'Sep 21-27', 'Gross': '$50,534,468'},
 {'Week': 'Sep 14-20', 'Gross': '$60,853,023'},
 {'Week': 'Sep 7-13', 'Gross': '$69,423,827'},
 {'Week': 'Aug 31-Sep 6', 'Gross': '$100,211,828'},
 {'Week': 'Aug 24-30', 'Gross': '$106,209,904'},
 {'Week': 'Aug 17-23', 'Gross': '$143,280,736'},
 {'Week': 'Aug 10-16', 'Gross': '$209,880,289'},
 {'Week': 'Aug 3-9', 'Gross': '$241,231,115'},
 {'Week': 'Jul 27-Aug 2', 'Gross': '$205,145,437'},
 {'Week': 'Jul 20-26', 'Gross': '$194,797,745'},
 {'Week': 'Jul 13-19', 'Gross': '$177,508,750'},
 {'Week': 'Jul 6-12', 'Gross': '$168,809,092'},
 {'Week': 'Jun 29-Jul 5', 'Gross': '$197,173,477'},
 {'Week': 'Jun 22-28', 'Gross': '$191,584,867'},
 {'Week': 'Jun 15-21', 'Gross': '$183,134,030'},
 {'Week': 'Jun 8-14', 'Gross': '$136,249,169'},
 {'Week': 'Jun 1-7', 'Gross': '$164,193,396'},
 {'Week': 'May 25-31', 'Gross': '$206,443,713'},
 {'Week': 'May 18-24', 'Gross': '$124,750,697'},
 {'Week': 'May 11-17', 'Gross': '$89,443,261'},
 {'Week': 'May 4-10', 'Gross': '$121,644,965'},
 {'Week': 'Apr 27-May 3', 'Gross': '$64,066,280'},
 {'Week': 'Apr 20-26', 'Gross': '$79,276,808'},
 {'Week': 'Apr 13-19', 'Gross': '$101,842,791'},
 {'Week': 'Apr 6-12', 'Gross': '$105,507,616'},
 {'Week': 'Mar 30-Apr 5', 'Gross': '$96,574,098'},
 {'Week': 'Mar 23-29', 'Gross': '$83,530,931'},
 {'Week': 'Mar 16-22', 'Gross': '$88,310,875'},
 {'Week': 'Mar 9-15', 'Gross': '$79,164,011'},
 {'Week': 'Mar 2-8', 'Gross': '$89,629,683'},
 {'Week': 'Feb 23-Mar 1', 'Gross': '$86,878,689'},
 {'Week': 'Feb 16-22', 'Gross': '$138,060,486'},
 {'Week': 'Feb 9-15', 'Gross': '$134,630,925'},
 {'Week': 'Feb 2-8', 'Gross': '$80,237,145'},
 {'Week': 'Jan 26-Feb 1', 'Gross': '$85,677,572'},
 {'Week': 'Jan 19-25', 'Gross': '$103,790,997'},
 {'Week': 'Jan 12-18', 'Gross': '$154,539,140'},
 {'Week': 'Jan 5-11', 'Gross': '$127,770,957'}]

In [103]:
movie_df5 = pd.DataFrame(movie_list5)
movie_df5

                  Week         Gross
0                Dates  Top 10 Gross
1   Dec 28-Jan 3, 2002  $236,081,226
2            Dec 21-27  $247,812,996
3            Dec 14-20  $143,043,356
4             Dec 7-13  $104,219,501
5         Nov 30-Dec 6   $98,071,631
6            Nov 23-29  $162,252,912
7            Nov 16-22  $223,787,194
8             Nov 9-15  $142,487,373
9              Nov 2-8  $160,192,502
10        Oct 26-Nov 1   $86,607,537
11           Oct 19-25   $86,426,754
12           Oct 12-18   $93,729,521
13            Oct 5-11  $105,955,176
14        Sep 28-Oct 4   $76,207,503
15           Sep 21-27   $50,534,468
16           Sep 14-20   $60,853,023
17            Sep 7-13   $69,423,827
18        Aug 31-Sep 6  $100,211,828
19           Aug 24-30  $106,209,904
20           Aug 17-23  $143,280,736
21           Aug 10-16  $209,880,289
22             Aug 3-9  $241,231,115
23        Jul 27-Aug 2  $205,145,437
24           Jul 20-26  $194,797,745
25           Jul 13-19  $177,508,750
26            Jul 6-12  $168,809,092
27        Jun 29-Jul 5  $197,173,477
28           Jun 22-28  $191,584,867
29           Jun 15-21  $183,134,030
30            Jun 8-14  $136,249,169
31             Jun 1-7  $164,193,396
32           May 25-31  $206,443,713
33           May 18-24  $124,750,697
34           May 11-17   $89,443,261
35            May 4-10  $121,644,965
36        Apr 27-May 3   $64,066,280
37           Apr 20-26   $79,276,808
38           Apr 13-19  $101,842,791
39            Apr 6-12  $105,507,616
40        Mar 30-Apr 5   $96,574,098
41           Mar 23-29   $83,530,931
42           Mar 16-22   $88,310,875
43            Mar 9-15   $79,164,011
44             Mar 2-8   $89,629,683
45        Feb 23-Mar 1   $86,878,689
46           Feb 16-22  $138,060,486
47            Feb 9-15  $134,630,925
48             Feb 2-8   $80,237,145
49        Jan 26-Feb 1   $85,677,572
50           Jan 19-25  $103,790,997
51           Jan 12-18  $154,539,140
52            Jan 5-11  $127,770,957

In [104]:
movie_df5 = movie_df5.drop([0])

In [105]:
movie_df5['Gross'] = movie_df5['Gross'].replace('[\$,]', '', regex=True).astype(float)

In [108]:
print(movie_df5[movie_df5['Gross'] == min(movie_df5['Gross'])].Week)

15    Sep 21-27
Name: Week, dtype: object